// This file was generated for Start Bootstrap Admin Pro
// https://startbootstrap.com/theme/sb-admin-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #efefef;
$secondary: #efefef;
$success: #efefef;
$info: #efefef;
$warning: #efefef;
$danger: #efefef;
